@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: transparent;
   /*  width: 100%; */
    /* height: 960px; */
}

.header .inner {
    max-width: 1440px;
    /* width: 1280px; */
    margin: 0 auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header .inner .logo  {
    height: 58px;
}
.header .inner .logo a {
    display: block;
    height: 100%;
}

.header .inner .logo img {
    height: 40px;
    display: block;
}

.header .inner .menu_open {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;

    /* position: absolute;
    top: 20px;
    right: 20px;
    background:transparent;
    cursor: pointer;
    width: 32px;
    height: auto;
    border: 0; */
    
}
.header .inner .menu_open img {
    height: 100%;
    width: 100%;
    display: block;
}

.header .inner .nav {
    position: fixed;
    top: 0;
    right:-50%;
    width: 50%;
    height: 100%;
    padding: 60px 40px;
    background: rgb(0,0,0,0,3);
}

.header .inner .nav.active {
    right: 0;
}

.main .main_visual {
    position: relative;
    width: 100%;
    height: 100vh;
}

.main .main_visual video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .main_visual .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    color: #fff; /* 헤더 영상 가운데 텍스트 가운데 정렬 배치 */
}

.main .main_visual .visual_btn {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.main .main_visual .visual_btn a {
    width: 228px;
    height: 72px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    align-items: center;
    background-color: rgb(0 120 255);
    gap: 9.5px;
    margin-bottom: 60px;
    font-size: 20px;
    color: #fff;

}

.main .main_visual .text h2 {
    font-size: 95px;
    font-weight: 600;
}

.main .main_visual .text p {
    font-size: 40px;
    font-weight: 500;
    line-height: 150%;
}

.main .section-01 .inner .slides .list {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;

}


.main .section-01 {}

.main .section-01 .inner {}

.main .section-01 .inner .slides {}

.main .section-01 .inner .slides .list {
    width: 872px;
    height: 484px;
}

.main .section-01 .inner .slides .list .item {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 50px;
}

.main .section-01 .inner .slides .list .item img {
    width: 100%;
    height: 100%;
}

.main .section-01 .inner .slides .list.slide.havigation {}

.main .section-02 {}
.main .section-02 .list {
    display: flex;
}
.main .section-02 .inner {}


.main .section-02 .inner .list {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    flex-wrap: wrap; /* 줄바꿈 속성 */
    gap: 20px;
    align-items: flex-start; /* 세로 위쪽 정렬 */
    /* width: 100%;
    align-items: center; */
   
}

.main .section-02 .inner .list .item {}

.main .section-03 {}
.main .section-03 a {}

